data/animals/animaux.RDS
data/animals/icon_chevreuil.jpg
data/animals/icon_chevreuil.png
data/abstract/oignons.csv
img/animals.jpg
img/abstract.jpeg
img/abstract_ggfx.jpeg
R/animals.R
R/abstract.R
data/circle/DC_2018_det.csv
data/circle/DC_2019_det.csv
data/circle/DC_20202021_det.csv
R/circle.R
